body{
    background-color: rgb(255, 219, 219);
}

.apresentacao{
    font-family: 'Josefin Sans';
    align-items: center;
    padding-left: 10%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
    display: flex;

}

.ola {
    font-size: 35px;
}

.introducao{
    font-size: 25px;
    text-align: left;
    max-width: 700px;
}

.imagem{
    width: 20em;
    top: 10px;
    border-radius: 100% 40% 40%;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.redes-sociais{
    border-radius: 50px;
    border: 30em;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 25px;
}

.redes-sociais:hover{
    background-color: white;
    color: black;
    border: black;
    border-style: solid;
    transition: 0.3s;
}